#navbar-ays img {
    width: 200px;
}

#navbar-ays li a {
    color: #172D67 !important;
}
#navbar-ays li a:hover {
    color: #FFB75B !important;
    font-size: 1.1rem;
}

#about {
    background-color: #DFE0DF;
}

#service {
    background-color: #2F4858;
}

#service i {
    font-size: 2rem;
}

#service h5 {
    color: #E57E2B; 
}

#service h2 {
    color: #E57E2B; 
}